{% load static %}
<!DOCTYPE html>
<html lang="es">

   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galpon uno</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="{% static 'home/static/css/main.a3f694c0.css' %}" rel="stylesheet"></head>
</head>
<body>
  {% include 'home/cabecera.html' %}

<div class="section-container border-section-container">
    <div class="container">
            <div class="row">
                <div class="col-md-12 section-container-spacer">
                    
                    <div class="col">
                      <div class="text-center">
                        <h2>Galpón 1</h2>   
                    </div>
                
                    <button type="button" class="btn btn-success">Agregar</button>
                    <button type="button" class="btn btn-primary">Modificar</button>
                    <button type="button" class="btn btn-warning">Eliminar</button>
                    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
          <th scope="col">#</th>
          <th>Código</th>
          <th>Estado</th>
          <th>Nro. de cuna</th>
          <th>Código de madre</th>
          
        </tr>

        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>122</td>
            <td>Saludable</td>
            <td>2</td>
            <td>12c</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th scope="row">2</th>
            <td>122</td>
            <td>Saludable</td>
            <td>2</td>
            <td>12c</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th scope="row">3</th>
            <td>122</td>
            <td>Saludable</td>
            <td>2</td>
            <td>12c</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="col">
      <div class="text-center">
                        <h2>Historial</h2>
                    </div>
      <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
          <th scope="col">#</th>
          <th>Código de galpón</th>
          <th>Estado</th>
          <th>Total de animales</th>          
        </tr>

        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>1</td>
            <td>LLeno</td>
            <td>3</td>
          </tr>
        </tbody>
      </table>
    </div>
                </div>

            </div>
    </div>
</div>
   
   
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="ocultaesconde.js"></script>
</body>
</html>